.container {
    width: 90vw;
    /* height: 85vh; */
    margin: auto;
    margin-top: 10px;
    padding: 0;
    /* display: block; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
    /* border: 2px solid #B36812; */
    border-radius: 10px;
}

/* ____________________________________________________________________________ */
.box__img {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.box__img img {
    border-radius: 20px;
}

/* ____________________________________________________________________________ */
.box__NomeComunidade {
    width: 100%;
    height: 20vh;
    text-align: center;
    padding-top: 10px;
    /* border: 2px solid red; */
}

.box__NomeComunidade h1 {
    font-size: 50px;
}

/* ____________________________________________________________________________ */

.box__destaques {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.box__destaques .bloco {
    height: 50%;
    width: 20%;
    /* border: 2px solid black; */
}

.bloco div {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
}

.bloco .number {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1em;
    color: coral;
}

.bloco .text {
    height: 50px;
    width: 80%;
    font-size: 20px;
    background-color: #B36812;
    color: white;
    border: 2px solid #B36812;
    border-radius: 8px;
    padding: 6px 12px;
    text-align: center;
}

.bloco .text:hover {
    opacity: .9;
}

/* ____________________________________________________________________________ */
.box__membros-conselho {
    width: 100%;
    height: 30vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    /* border: 2px solid violet; */
}

.box__membros-conselho .titulo {
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
    text-align: center;
}

.box__membros-conselho .body {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.box__membros-conselho .card {
    width: 250px;
    height: 120px;
    margin: 10px;
    border-radius: 10px;
}

.box__membros-conselho .button {
    width: 100%;
    text-align: center;
    padding: 10px 0 20px 0;
    /* border: 2px solid orange; */
}

.box__membros-conselho button{
    font-size: 17px;
    /* background-color: darksalmon; */
}
/* ____________________________________________________________________________ */


hr {
    margin: 10px 0;
}