.dropdown:hover {
    background-color: #d8b07b !important;
    /* border: 2px solid red; */
}

.btn-dropdown {
    color: white;
    /* border: 2px solid red; */
}

.dropdown-menu {
    background-color: #B88615;
    /* border: 2px solid violet; */
}

.dropdown-menu a {
    color: white;
}

.btn-dropdown:focus {
    box-shadow: none;
    /* color: #B88615 !important; */
}

.btn-dropdown:hover {
    color: white;
}

.dropdown-menu a:active {
    background-color: gainsboro;
    /* Quando clica no link */
}

.dropdown-menu a:hover {
    color: #B88615;
}

.dropdown:hover {
    background-color: white;
    border-radius: 5px;
    transition: 250ms;
    /* border: 1px solid white; */
}