body {
    /* Tirando a scroll bar */
    overflow: hidden;
    /* background-color: blue; */
}

nav {
    background-color: #B88615;
    padding-left: 10px;
}

.navbar-brand {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    /* border: 4px solid black; */
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    color: white;
    /* border: 4px solid black; */
}

.nav-link:hover {
    text-decoration: underline;
    color: white;
    /* border: 4px solid black; */
}

.nav-link:active {
    color: #d8b07b;
}

.a:visited {
    color: red;
}

.dropdown {
    background-color: none;
    /* border: 2px solid red; */
}

.btn-dropdown {
    height: 100% !important;
    color: white !important;
    /* border: 2px solid red; */
}

.btn-dropdown:hover{
    /* background-color: white; */
    color: black;
}

.btn-dropdown:focus {
    /* border: none; */
    box-shadow: none; 
}

.dropdown-menu{
    background-color: #B88615;
    /* border: 2px solid violet; */
}

.dropdown-menu a{
    color: white;
}

.dropdown-menu a:active{
    background-color: gainsboro;
    color: black;
}