.container {
    width: 100%;
    min-height: 100vh;
    margin-top: 10px;
    padding: 0;
    /* display: flex;  */
    /* margin-right: 0; */
    /* margin-left: 0; */
    /* border: 2px solid green; */
}

.box__carrossel img{
    /* width: 100%; já está definido na própria tag img*/
    height: 400px;
}

/* ___________________________________________________________________________________ */

.box__cards,
.box__eventos {
    width: 100%;
    height: 350px;
    display: block;
    margin-top: 30px;
    /* padding: 1em; */
    justify-content: left;
    /* overflow: hidden; */
    /* align-items: center; */

    /* border: 2px solid orangered; */
}

.card {
    height: 100%;
    /* width: 240px; estava dando problema no collapse */
    margin-right: 10px;
}

.box__cards-title,
.box__eventos-title {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcc9a6;
    /* border: 2px solid violet; */
}

.box__cards-body {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    overflow: hidden;
    overflow-y: scroll;
    background-color: gray;
    /* border: 2px solid black; */
}

.box__eventos-body {
    width: 100%;
    height: 85%;
    display: block;
    padding: 1em;
    overflow: hidden;
    overflow-y: scroll;
    background-color: gray;
    /* border: 2px solid black; */
}

.btn-link {
    color: black;
    font-size: 20px;
}

.btn-link:hover {
    text-decoration: none;
    color: #B36812 !important;
}

.btn-link:focus {
    color: black;
    text-decoration: none;
}

.card-body-evento {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
}

.box__dia-evento {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.box__info-evento {
    height: 100%;
    width: 90%;
    /* background-color: aquamarine; */
}

.box__dia-evento p {
    /* color: white; */
    font-size: 40px;
}

/* ___________________________________________________________________________________ */

.rodape {
    height: 20vh;
    width: 100%;
    margin-top: 10px;
    display: flex;
    color: white;
    /* background-color: #B35C0F; */
    /* background-color: #6B4D2B; */
    background-color: #B36812;

    /* https://color.adobe.com/pt/create/color-wheel */
    /* border: 2px solid orangered; */
}

.rodape a {
    text-decoration: none;
    color: white
}

.rodape a:hover {
    color: gainsboro;
}

.local-rodape {
    height: 100%;
    width: 30%;
    padding: 10px 0 0 20px;
    /* line-height: 10px; */
    /* border: 2px solid orange; */
}

.horarios-rodape {
    height: 100%;
    width: 30%;
    padding: 10px 0 0 40px;
    /* border: 2px solid orange; */
}

.redes-sociais-rodape {
    width: 25%;
    height: 100%;
    padding: 23px 0 0 10px;
    /* display: block; */
    /* gap: 0.4; */
    /* border: 2px solid orange; */
}

.redes-sociais-rodape a {
    /* color: antiquewhite; */
    /* text-decoration: none;  */
    line-height: 30px;

}

table {
    color: white;
    /* a cor do texto está no style da tag*/
    margin: 15px 0 0 -10px;
    line-height: 5px;
}

.brasao-rodape {
    height: 100%;
    width: 15%;
    /* a combinação dos três atributos abaixo centraliza a imagem no centro da div (vertical e horizontal) */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orange; */
}