body {
    background-color: #ddd;
}

h2{
    margin-top: 5px;
    margin-bottom: -25px;
}

.required:after {
    content: " *";
    color: red;
}

.div-cadastro {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* border: 2px solid green; */
}

.form-cadastro {
    width: 900px;
    /* border: 1px solid #550065;
    border-radius: 10px; */
    /* border: 2px solid green; */
}

.div-botoes {
    text-align: center;
}

#btn-cadastrar,
#btn-cancelar {
    margin: 10px 20px 0px 0px;
    /* superior, direita, inferior e esquerda */
}

.input-group{
    width: 100%;
}

.div-membros{
    display: flex;
    justify-content: space-between;
}

.div-nomeMembros{
    width: 74.5%;
    height: 120px;
    /* min-height: 120px; */
    /* border: 2px solid green; */
}

.div-cpfMembros{
    width: 23.5%;
    height: 120px;
    /* min-height: 200px; */
    /* margin-left: 30px; */
    /* border: 2px solid green; */
}