.container {
    width: 100%;
    min-height: 100vh;
    margin-top: 10px;
    padding: 0;
}

.box__carrossel img {
    /* width: 100%; já está definido na própria tag img*/
    height: 400px;
}

/* ________________________________________ Código ainda indefinido _______________________________________ */

.box__avisos,
.box__eventos {
    width: 100%;
    /* height: 350px;  */
    display: block;
    margin-top: 30px;
    /* padding: 1em; */
    justify-content: left;
    /* overflow: hidden; */
    /* align-items: center; */

    /* border: 2px solid orangered; */
}

.box__avisos-title,
.box__eventos-title {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    background-color: #fcc9a6;
    /* border: 2px solid violet; */
}

.box__eventos-body,
.box__avisos-body {
    width: 100%;
    height: 85%;
    /* padding: 1em; */
    /* background-color: gray; */
    /* border: 2px solid black; */
}

/* __________ Styles do corpo dos eventos __________ */

.box__eventos-body {
    display: flex;
    /* border: 1px solid black; */
    /* height: 150px; */
}

.box__data {
    width: 20%;
    display: block;
    /* border: 4px solid green; */
}

.box__eventos-body .box__data .mes {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    /* align-items: end; */
    background-color: rgb(207, 73, 73);
}

.box__eventos-body .box__data .dia {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: seashell;
}

.box__informacoes {
    width: 80%;
    display: block;
    padding: 0.5em;
    background-color: white;
    /* border: 4px solid violet; */
    border-bottom: 1px solid gray;
}

/* Configurando o tamanho da letra do 'mes' e do 'número da data' */
.box__data .mes {
    font-size: 20px;
    color: white;
}

.box__data .dia {
    font-size: 60px;
}

.list-group a{
    margin-bottom: 10px;
    border-radius: 5px;
}

/* ___________________________________________________________________________________ */

.rodape {
    height: 170px;
    width: 100%;
    display: flex;
    margin: 100px 0 0 0;
    padding: 1em;
    color: white;
    /* background-color: #B35C0F; */
    /* background-color: #6B4D2B; */
    background-color: #B36812;

    /* Criador de paleta de cores */
    /* https://color.adobe.com/pt/create/color-wheel */
}

/* Estiliza todos os elementos do rodape, com exceção dos ícones (svg) */
.rodape * {
    text-decoration: none;
    color: white;
}

.rodape header {
    margin: 0 0 10px 0;
    text-decoration: overline;
    /* text-decoration: underline; */
}

.rodape a:hover {
    color: gainsboro;
}

.box__local-rodape {
    height: 100%;
    width: 30%;
    line-height: 28px;
}

.box__local-rodape p {
    margin: 5px 0 0 0;
}

.box__horarios-rodape {
    height: 100%;
    width: 30%;
}

.box__horarios-rodape table {
    margin: 0 0 0 -10px;
    line-height: 15px;
}

.box__redes-sociais-rodape {
    width: 25%;
    height: 100%;
    /* gap: 0.4; */
}

.box__redes-sociais-rodape a {
    line-height: 30px;
}

.box__brasao-rodape {
    height: 100%;
    width: 15%;
    /* a combinação dos três atributos abaixo centraliza a imagem no centro da div (vertical e horizontal) */
    display: flex;
    justify-content: center;
    align-items: center;
}