.container {
    width: 100%;
    min-height: 100vh;
    margin-top: 10px;
    padding: 0;
}

.box__carrossel img{
    /* width: 100%; já está definido na própria tag img*/
    height: 400px;
}

/* ________________________________________ Código ainda indefinido _______________________________________ */

.box__cards,
.box__eventos {
    width: 100%;
    height: 350px; 
    display: block;
    margin-top: 30px;
    /* padding: 1em; */
    justify-content: left;
    /* overflow: hidden; */
    /* align-items: center; */

    /* border: 2px solid orangered; */
}

.card {
    height: 100%;
    /* width: 240px; estava dando problema no collapse */
    margin-right: 10px;
}

.box__cards-title,
.box__eventos-title {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: blue;
    border: 2px solid violet;
}

.box__cards-body {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    overflow: hidden;
    overflow-y: scroll;
    background-color: gray;
    /* border: 2px solid black; */
}

.box__eventos-body {
    width: 100%;
    height: 85%;
    display: block;
    padding: 1em;
    overflow: hidden;
    overflow-y: scroll;
    background-color: gray;
    /* border: 2px solid black; */
}

.btn-link {
    color: black;
    font-size: 20px;
}

.btn-link:hover {
    text-decoration: none;
    color: #B36812 !important;
}

.btn-link:focus {
    color: black;
    text-decoration: none;
}

.card-body-evento {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
}

.box__dia-evento {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.box__info-evento {
    height: 100%;
    width: 90%;
    /* background-color: aquamarine; */
}

.box__dia-evento p {
    /* color: white; */
    font-size: 40px;
}

/* ___________________________________________________________________________________ */

.rodape {
    height: 170px;
    width: 100%;
    display: flex;
    margin: 100px 0 0 0;
    padding: 1em;
    color: white;
    /* background-color: #B35C0F; */
    /* background-color: #6B4D2B; */
    background-color: #B36812;

    /* Criador de paleta de cores */
    /* https://color.adobe.com/pt/create/color-wheel */
}

/* Estiliza todos os elementos do rodape, com exceção dos ícones (svg) */
.rodape * {
    text-decoration: none;
    color: white;
}

.rodape header{
    margin: 0 0 10px 0;
    text-decoration: overline;
    /* text-decoration: underline; */
}

.rodape a:hover {
    color: gainsboro;
}

.box__local-rodape {
    height: 100%;
    width: 30%;
    line-height: 28px;
}

.box__local-rodape p{
    margin: 5px 0 0 0;
}

.box__horarios-rodape {
    height: 100%;
    width: 30%;
}

.box__horarios-rodape table{
    margin: 0 0 0 -10px;
    line-height: 15px;
}

.box__redes-sociais-rodape {
    width: 25%;
    height: 100%;
    /* gap: 0.4; */
}

.box__redes-sociais-rodape a {
    line-height: 30px;
}

.box__brasao-rodape {
    height: 100%;
    width: 15%;
    /* a combinação dos três atributos abaixo centraliza a imagem no centro da div (vertical e horizontal) */
    display: flex;
    justify-content: center;
    align-items: center;
}