/* _______________________ Personalizando a scrollbar ________________________ */
::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

/* Personalização do funda da scrollbar */
::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: gainsboro;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    /* color of the scroll thumb */
    /* border-radius: 10px; */
    /* roundness of the scroll thumb */
}
/* _________________________________________________________________________________ */

.container {
    width: 100%;
    min-height: 100vh;
    margin-top: 10px;
    padding: 0;
}

.box__carrossel img {
    /* width: 100%; já está definido na própria tag img*/
    height: 400px;
}

/* ________________________________ Código ainda indefinido ______________________ */

.box__avisos,
.box__eventos {
    width: 100%;
    display: block;
    margin-top: 30px;
    justify-content: left;
    /* padding: 1em; */
    /* height: 350px;  */
    /* overflow: hidden; */
    /* align-items: center; */
    /* border: 2px solid orangered; */
}

.box__avisos-title,
.box__eventos-title {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-top: 50px; */
    /* background-color: #fcc9a6; */
    /* border: 2px solid violet; */
}

/* __________ Styles do corpo dos eventos __________ */

.box__eventos-body {
    display: flex;
    height: 150px;
    margin-bottom: 15px;
    /* border-radius: 5px; */
    /* border: 1px solid black; */

}

.box__data {
    width: 18%;
    margin-right: 2%;
    display: block;
    /* border: 4px solid green; */
}

/* Arredondando as bordas do que está dentro do box__data */
.box__data .mes {
    border-radius: 15px 15px 0 0;
    /*margens superiores*/
}

.box__data .dia_semana {
    border-radius: 0 0 15px 15px;
    /*margens inferiores*/
}

/* Retirando espaçamento dos parágrafos (p) do box__data  */
.box__data p {
    margin: 0;
}

.box__eventos-body .box__data .mes {
    width: 100%;
    height: 20%;
    font-size: 20px;
    margin: 0 !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 73, 73);
}

.box__data .num {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: seashell; */
    background-color: white;
    font-size: 60px;
    /* border: 2px solid black; */
}

.box__data .dia_semana {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
    /* border: 2px solid black; */
}

.box__informacoes {
    width: 80%;
    display: block;
    padding: 0.5em;
    border-radius: 10px;
    background-color: #fffffe;
    border-right: 5px solid #B36812;
    border-bottom: 2px solid #B36812;
    /* border-bottom: 2px solid #8a4f0d; */
}

/* Modal Eventos */
.box__dataHora, .box__presidenteLocal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}

.metade-box{
    width: 48%;
}

/* ____________________ Style dos botões de addEvento e addAviso ___________________ */
#btn-addAviso, #btn-addEvento{
    background-color: #B36812;
    border: 1px solid #B36812;
}

#btn-addAviso:hover, #btn-addEvento:hover{
    background-color: #B88615;
    border: 1px solid #B88615;
}

/* Style modal Avisos */
.modal-footer{
    padding: 6px;
    /* background-color: aqua; */
}


/* __________________________________________________________________________________ */

/* _________________________ Styles do campo de avisos ______________________________ */

.list-group a {
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom: 2px solid gray;
    /* background-color: floralwhite; */
    background-color: white;
}

/* Style do botão 'adicionar avisos' */

.box__button-avisos{
    display: flex;
    justify-content: right;
    padding: 5px 0 5px 5px;
    /* border: 2px solid green; */
}

.box__span{
    display: flex;
    justify-content: right;
}

/* botões de edição e exlusão (canto superior direito) */
.buttonsAviso button{
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    padding: 2px 4px;
    /* border: 1px solid black; */
}

.buttonsAviso button svg:hover{
    height: 20px;
    width: 20px;
    /* transition: 5ms; */
}
/* ___________________________________________________________________________________ */

.rodape {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 0 0;
    padding: 1em;
    color: white;
    background-color: #B88615; /* cor da navbar */
    /* background-color: #B35C0F; */
    /* background-color: #6B4D2B; */
    background-color: #B36812;
    

    /* Criador de paleta de cores */
    /* https://color.adobe.com/pt/create/color-wheel */
}

/* Estiliza todos os elementos do rodape, com exceção dos ícones (svg) */
.rodape * {
    text-decoration: none;
    color: white;
}

.rodape header {
    margin: 0 0 10px 0;
    text-decoration: overline;
    /* text-decoration: underline; */
}

.rodape a:hover {
    color: gainsboro;
}

.box__local-rodape {
    height: 100%;
    width: 30%;
    line-height: 28px;
}

.box__local-rodape p {
    margin: 5px 0 0 0;
}

.box__horarios-rodape {
    height: 100%;
    width: 30%;
}

.box__horarios-rodape table {
    margin: 0 0 0 -10px;
    line-height: 15px;
}

.box__redes-sociais-rodape {
    width: 25%;
    height: 100%;
    /* gap: 0.4; */
}

.box__redes-sociais-rodape a {
    line-height: 30px;
}

.box__brasao-rodape {
    height: 100%;
    width: 15%;
    /* a combinação dos três atributos abaixo centraliza a imagem no centro da div (vertical e horizontal) */
    display: flex;
    justify-content: center;
    align-items: center;
}