.box__content-table {
  width: 100%;
  height: 65vh;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1%;
  margin-top: 15px;
}

.box__principal {
  width: 85%;
  height: 100%;
  /* O que sair da div, se esconde */
  overflow: hidden;
  /* Permite visualizar o que saiu da div (verticalmente) por meio de uma barra de rolagem */
  overflow-y: scroll;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Style título da tabela */
.titulo-table {
  background-color: #cabdad;
  box-shadow: 0 1px 20px 1px #a79b8e;
  z-index: 1;
}

tr {
  height: 60px;
  vertical-align: middle;
}

td {
  border-bottom: 1px solid gainsboro;
}

/* Estilizando os nomes das pessoas */
.table .nome-familia {
  color: black;
  border: none;
  padding: 0;
  transition: 200ms;
}

.nome-familia:hover {
  font-size: 18px;
  cursor: pointer;
}

.buttonsFamilia {
  display: flex;
  gap: 10px;
}
