body {
    margin: 0;
    height: 100vh;
    background-color: #e9d8ad;
    /* filter: blur(4); // embaçar imagem*/

    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

    /* border: 2px solid green; */
}

.container {
    width: 70%;
    height: 75vh;
    display: flex;
    margin: auto;
    /* margin-top: 15vh; */
    padding: 0;
    box-shadow: 0 0 2em gray;
    /* border: 2px solid green; */
}

.div-img {
    width: 50%;
    height: 100%;
    /* background-color: cornflowerblue; */
    /* border: 2px solid red; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.div-login-ext {
    width: 50%;
    height: 100%;
    padding: 5%;
    background-color: white;
    /* object-fit: cover;
    object-position: right; */

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid orangered; */
}

.div-login-int {
    /* height: 100%; */
    width: 100%;

    /* border: 2px solid red; */
}

/* form div{
    border: 2px solid yellowgreen;
    width: 100%;
    height: 100%;
    margin: 0;
} */

/* input, label{
    width: 100%;
    height: 100%;
} */

.div-btn {
    width: 100%;
    margin-top: 5%;
    /* border: 2px solid black; */
}

.btn {
    width: 100%;
    margin-top: 10px;
    /* border: 2px solid black; */
}

.div-obs a {
    text-decoration: none;
    /* border: 2px solid black; */
}

.div-obs {
    font-size: 12px;
}

.div-obs {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}

.div-titulo {
    width: 100%;
    text-align: center;
    /* border: 2px solid black; */
}

@media screen and (max-width: 880px) {

    .container {
        width: 50vw;
        height: 60vh;
    }

    .div-img {
        /* background-color: blue; */
        display: none;
    }

    .div-login-ext {
        width: 100%;
    }

    /*
    .info-dgapy{
        display: hide;
        display: none;
        background-image: none;
    } */
}

@media screen and (max-width: 600px) {

    .container {
        width: 80vw;
        height: 60vh;
    }
}

/* Não é necessário em um primeiro momento */
@media screen and (max-height: 570px) {
    
    .container {
        /* width: 80vw; */
        height: 90vh;
    }
}