* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box__navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* Código abaixo adicionado porque as páginas Dízimo, Caixa Mortuário, Cadastro de Comunidade e Pessoa
apresentavam um padding-left na ul da navbar */
ul {
  padding-left: 0;
  margin: 0;
}

#ul-right {
  margin-right: 20px;
  /* border: 2px solid red; */
}

nav {
  background-color: #b88615;
  /* offset-x | offset-y | blur-radius (opacidade) | spread-radius (dispersão) | color */
  /* https://box-shadow.dev/ */
  box-shadow: 0 3px 25px 8px #cfab7d;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  color: white;
  text-decoration: none !important;
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

nav li a:hover {
  background-color: #d8b07b;
  color: white;
}

.link-dgapy:hover {
  /* color: black !important; */
  background-color: #b88615 !important;
}

.dropdown-menu {
  position: absolute;
  /* box-shadow: 0 0 2px black; */
  display: none;
  margin-top: -1px;
  background-color: #b88615;
  z-index: 2;
}

.drop-notificacao {
  width: 300px;
  margin-left: -253px;
  background-color: white;
  box-shadow: 0 0 2px #b88615;
  /* display: block !important; para visualizar o dropdown*/
}

.drop-notificacao p {
  margin: 0;
  padding: 10px;
  color: #b88615;
}

.dropdown-divider {
  margin: 0;
}

.drop-notificacao p:hover {
  background-color: whitesmoke;
}

/* .drop-perfil{
    margin-left: -55px;
} */

.dropdown-menu a {
  display: block;
  color: white;
  padding: 10px;
}

.dropdown-menu a:hover {
  background-color: white;
  color: #b88615;
}

.dropdown-menu a:active {
  background-color: gainsboro;
  /* Quando clica no link */
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.bi-caret-right-fill {
  margin-bottom: 3px;
}

a:hover .bi-caret-right-fill {
  /* transition: 300ms; */
  transform: rotate(90deg);
}

#btn-sair {
  width: 70px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
}

#btn-sair:hover {
  background-color: #b88615;
  border: 1px solid white;
}
